{% extends '::base.html.twig' %}

{% block title %}Erreur 500 !{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Erreur 500 !</h1>
        <p class="lead text-justify">
            ZzZzzZ! Hein? Oh! Pardon, le serveur a mis trop de temps à répondre.<br>
            Pour une fois que ça vient de chez nous, veuillez nous excuser pour la gêne occasionée.<br>
            En attendant que le serveur réponde, nous vous proposons une petite animation.<br>
            <br><iframe src="//giphy.com/embed/1RkDDoIVs3ntm" width="480" height="480" frameBorder="0" class="giphy-embed"
                    allowFullScreen></iframe>
        </p>
        <hr class="my-4">
        <p>En attendant, vous pouvez retourner sur votre page d'accueil.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('homepage') }}" role="button">
                <i class="fa fa-home" aria-hidden="true"></i> Accueil
            </a>
        </p>
    </div>
{% endblock %}