{% extends '::base.html.twig' %}

{% block title %}Erreur 500 !{% endblock %}

{% block body %}
    <h1>Erreur 500 !</h1>
    <div>
        <p>ZZZZZZ! Hein? Oh! Pardon le serveur a mis trop de temps à répondre. Pour une fois que ça vient de chez nous, veuillez nous excuser pour la gêne occasionée.
            En attendant que le serveur réponde nous vous proposons une petite animation.</p>
        <iframe src="//giphy.com/embed/1RkDDoIVs3ntm" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
{% endblock %}