{% extends '::base.html.twig' %}

{% block title %}Erreur 404 !{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Erreur 404 !</h1>
        <p class="lead text-justify">
            Désolé mais je crois que vous vous êtes perdu !<br>
            Nous espérons que vous avez laissé des petits cailloux pour retrouver votre chemin.<br>
        </p>
        <hr class="my-4">
        <p>Si vous n'y avez pas pensé, pas de panique, vous pouvez retourner à l'acceuil.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('homepage') }}" role="button">
                <i class="fa fa-home" aria-hidden="true"></i> Acceuil
            </a>
        </p>
    </div>
{% endblock %}
