{% extends '::base.html.twig' %}

{% block title %}Après la formation - Suivis alternants{% endblock %}

{% block body %}
    <h1>Votre situation après votre formation</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Modifier" class="btn btn-primary">
    {{ form_end(form) }}
{% endblock %}