{% extends '::base.html.twig' %}

{% block title %}Modification de l'entreprise{% endblock %}

{% block body %}
    <h1>Entreprise d'acceuil</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary">
    {{ form_end(form) }}
{% endblock %}