{% extends '::base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h1>Formations</h1>
    <hr>
    <a href="{{ path('admin.course.add') }}" class="btn btn-success mb-3">
        <i class="fa fa-plus" aria-hidden="true"></i> Ajouter une formation
    </a>
    {% for course in courses %}
        {% include "AppBundle:Course:show.html.twig" with {"courseId": course.id} %}
    {% endfor %}
{% endblock %}