{% extends 'base.html.twig' %}

{% block title %}Editer contact entreprise{% endblock %}

{% block body %}
    <h1>Editer contact entreprise</h1>
    <hr />

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        
        <div class="form-group">
            <a href="{{ path('companycontact_show', { 'courseId': course.id, 'id': companyContact.id }) }}" 
               class="btn btn-secondary">
                
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                Annuler
            </a>
                
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check" aria-hidden="true"></i> Valider
            </button>   
        </div>
        
    {{ form_end(edit_form) }}

    
{% endblock %}
