{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Accueil formateur{% endblock %}

{% block body %}
    <h1>Formations</h1>
    <hr>
    {% if courseAttached is defined %}
        {% for course in courseAttached %}
            {% include "AppBundle:Course:showJury.html.twig" with {"courseId": course.id} %}
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            Pas de formations attribuées.
        </div>
    {% endif %}

{% endblock %}