{% block body %}{% endblock %}

{% block signature %}
<p>Cordialement, <br>
    L'équipe pédagogique</p>
<a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a>
{% endblock %}