<div>
    <h1>Candidature</h1>
    <p>Votre inscription à bien étée prise en compte</p>
    Login : {{ email }}
    Mot de passe : {{ password }}
    <p>Cordialement, <br>
        L'équipe pédagogique</p>
</div>