<div>
    <h1>Notification de changement de status</h1>
    <p>Votre status pour la formation {{ formation }} est passé de {{ stateStart }} à {{ stateEnd }}</p>
    <p>Pour plus d'informations veuillez vous connectez au site.</p>
    <p>Cordialement, l'équipe de Suivis Alternance.</p>
</div>