.bordered {
    border: 1px solid #ddd;
}

.zoom-in {
    cursor: zoom-in;
}

.workflow-dump {
    min-height: 20rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.workflow-dump img {
    transition: transform .5s ease-out;
}