{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Email envoyé{% endblock %}

{% block fos_user_content %}
    <div class="jumbotron">
        <h1 class="display-4">Email envoyé !</h1>
        <p class="lead">
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        </p>
        <hr class="my-4">
        <p>
            Vous n'avez pas reçu d'email de notre part ?
            <a href="{{ path('fos_user_resetting_request') }}">Réessayer</a>
        </p>
        <a href="{{ path('homepage') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
