{% extends '::base.html.twig' %}

{% block title %}Edit workflow{% endblock %}

{% block body %}
    <h1>Modification de l'état</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Renommer" class="btn btn-primary">
    {{ form_end(form) }}
{% endblock %}