{% extends '::base.html.twig' %}

{% block title %}Edit workflow{% endblock %}

{% block body %}
    <h1>Modification de l'état</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('course_manager.promotion.workflow.edit', { 'promotionId': promotionId }) }}"
       class="btn btn-secondary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Retour</a>
    <input type="submit" value="Modifier" class="btn btn-primary">
    {{ form_end(form) }}
{% endblock %}