{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Accueil formateur{% endblock %}

{% block body %}
    <h1>Formations</h1>
    <hr>
    
    {% for course in coursesManaged %}
        {% include "AppBundle:Course:show.html.twig" with {"courseId": course.id} %}
    {% endfor %}
{% endblock %}