{% extends '::base.html.twig' %}

{% block title %}Détails d'une candidature{% endblock %}

{% block body %}
    <h1>{{ application.student.firstName }} {{ application.student.lastName }}</h1>
    <div>
        TODO Graphe status
    </div>
    <div>
        {{ application. }}
    </div>
{% endblock %}